@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');


* {
    margin: 0;
    --resaltar: #00BCEB;
    --fondo: #0d274dee;
    --primer: #FFF1EE;
    --altura: 30vh;
    --black: rgba(0, 0, 0, 0.8);
}

.dialog {
    font-family: 'Dosis', Arial, sans-serif;
    background-color: var(--fondo) ;
    color: var(--primer);
    border-top-right-radius: 2rem;
    width: 40vw;
    height: var(--altura);
    outline: 2px solid var(--resaltar);
    position: fixed;
    top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: aparece 1s linear 2s 1 normal forwards;
}
img {
    height: 5vh;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
