.modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    cursor: crosshair;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    z-index: 10;
  }
  .modal-dialog {
    position: relative;
    width: 50%;
    max-width: 800px;
    height: 80%;
    max-height: 80vh;
    border-radius: 2rem;
    color:#059862;
    background: #FFF1EE;
    overflow: auto;
    cursor: default;
    display: grid;
    grid-template: 3rem repeat(4,1fr) 3rem /3rem repeat(4,1fr) 3rem;
  }
  .close-btn {
      text-align: center;
      grid-column-start: 6;
      grid-column-end: 6;
      cursor: pointer;
      margin: auto;
  }
  .modal-title {
      grid-row: 2/6;
      grid-column: 2/6;
      border: 1px solid #059862;
      border-radius: 2rem;
      text-align: center;
  }
  .visible {
    visibility: visible;
    opacity: 1;
  }
@keyframes aparece {
    from {
        top: 100vh;
    }
    to {
        top: 70vh;
    }
}
